/*-----------------------------------General Page ----------------------------------------*/
body {
	margin:0;
	padding:0;
	font-size: 20px;
	font-weight: 400;
    background-color: black;
}

/*-----------------------------------Get Started ----------------------------------------*/
.setup{
    /*background-image: linear-gradient(-90deg, #FFFFFF, #42B1C2);*/
    padding-top: 50px;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 150px;
	text-align: center;
	height: 875px;
}

.container {
	text-align: center;
}
